.main-container {
    display: flex;
    justify-content: space-around;
}

.container{
    width: 55%;
}

.menuButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menuButtons .button {
    background: orange;
    padding: .5em 2em;
    margin: 0 4px 15px;
    border-radius: 5px;
    border: solid;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.button:hover {
    background: rgba(230, 144, 64, 0.79);
}

.container-products {
    display: flex;
    width: 100%;
    text-align: center;
}

.product img {
    width: 100px;
    padding: 5px;
}

.product {
    border: 2px solid gray;
    border-radius: .8px;
    padding: .5em;
    font-size: 15px;
    cursor: pointer;
    width: 48%;
    justify-content: space-around;
    margin: 2px 5px 15px;
}

.product span {
    padding-left: 15px;
}


/* Component add to order */
.container-cart {
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 520px;
    padding: 20px;
}

.field{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 15px;
}

.field input{
    padding: 8px;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    background: rgb(233, 230, 230);
}

.container-cart h1{
    font-size: 18px;
    padding: 5px 0 10px;
    margin: 0;
}

.order-history{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin:  0;
    padding: 35px 20px;
    width: 90%;
    line-height: 1.7em; 
    margin-bottom: 15px;
}

.items{
    display: flex;
    justify-content: space-between;
}

.delete{
    display: flex;
    gap: 20px;
}

.container-cart .menuButtons{
    justify-content: center;
    margin-top: 20px;
}

.total{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: 600;
}

/* Page Orders */
.container-orders{
    max-width: 700px;
    border: 2px solid gray;
    padding: 2em;
    margin: 2em auto;
    text-align: start;
}

.default th{
    border-bottom: 2px solid gray;
   margin-bottom: 10px;
}

.default td{
    padding: 10px 30px;
    font-size: 16px;
   
}

.item{
    cursor: pointer;
}

/* PAGE CHEF */
.container-orders-chef{
    display: flex;
    border:  3px solid gray;
    max-width: 450px;
    padding: 20px 10px;
    border-radius: 4px;
}

.header{
    display: flex;
    justify-content: space-around;
}

.container-order-chef .default{
    margin: 25px 30px;
    padding: 10px;
}

.container-orders-chef .button{
   background: #6ECD4D; 
   height: 50px;
   font-size: 16px;
   padding: 10px;
  margin: auto;
  border: none;
  border-radius: 4px;
   
} 


